.control-buttons button {
  width: 50px;
  height: 50px;
  background: transparent;
  border: 3px solid #3abe8c;
  padding: 4px;
  outline: 0;
  margin-right: 14px;
  border-radius: 50%;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
  transition: all 0.2s ease;
}
.control-buttons button.active {
  border-color: #f50000;
}
.control-buttons button:hover {
  border-color: #339f74;
}
.control-buttons button.active:hover {
  border-color: #d50000;
}
.control-buttons button i {
  color: #3abe8c;
  font-size: 1.5em;
  transition: all 0.2s ease;
}
.control-buttons button.active i {
  color: #f50000;
}
.control-buttons button:hover i {
  color: #339f74;
}
.control-buttons button.active:hover i {
  color: #d50000;
}
.controls.disabled .control-buttons button {
  border: 3px solid #aeaeae;
}
.controls.disabled .control-buttons button:hover {
  border-color: #aeaeae;
}

.controls.disabled .control-buttons button i {
  color: #aeaeae !important;
}
.controls.disabled .control-buttons button:hover i {
  color: #aeaeae !important;
}
