.control-buttons button {
  width: 50px;
  height: 50px;
  background: transparent;
  border: 3px solid #3abe8c;
  padding: 4px;
  outline: 0;
  margin-right: 14px;
  border-radius: 50%;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
  transition: all 0.2s ease;
}
.control-buttons button.active {
  border-color: #f50000;
}
.control-buttons button:hover {
  border-color: #339f74;
}
.control-buttons button.active:hover {
  border-color: #d50000;
}
.control-buttons button i {
  color: #3abe8c;
  font-size: 1.5em;
  transition: all 0.2s ease;
}
.control-buttons button.active i {
  color: #f50000;
}
.control-buttons button:hover i {
  color: #339f74;
}
.control-buttons button.active:hover i {
  color: #d50000;
}
.controls.disabled .control-buttons button {
  border: 3px solid #aeaeae;
}
.controls.disabled .control-buttons button:hover {
  border-color: #aeaeae;
}

.controls.disabled .control-buttons button i {
  color: #aeaeae !important;
}
.controls.disabled .control-buttons button:hover i {
  color: #aeaeae !important;
}
.playback {
  width: 100%;
  padding: 0 8px;
}
.slider {
  width: 100%;
}
.slider.slider-volume {
  margin: 4px 0 14px;
}
.handle {
  top: -10px;
  width: 25px;
  height: 25px;
  background: #3abe8c;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.1s ease;
  outline: none;
}
.handle:hover {
  background: #339f74;
}
.slider.disabled .handle {
  background: #ddd !important;
}
.bar {
  height: 6px;
}
.slider.disabled .bar {
  background: #ddd !important;
}
.bar-0 {
  background: #3abe8c;
}
.bar-1 {
  background: #ddd;
}
.volume {
  position: relative;
  margin-left: 22px;
}
.volume-btn {
  background: transparent;
  border: none;
  padding: 6px 4px 4px;
  color: #bbb;
  font-size: 1.1em;
  transition: all 0.2s ease;
}
.volume-btn:hover {
  color: #339f74;
}
.volume-btn.active {
  color: #339f74 !important;
}
.volume-popup {
  position: absolute;
  top: -70px;
  left: -70px;
  width: 160px;
  background: #fff;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.15);
}
.volume-popup:before {
  position: absolute;
  top: 54px;
  right: 60px;
  content: '';
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-top: 14px solid #fff;
  filter: drop-shadow(0 2px 1px rgba(0,0,0,0.12));
}
.volume-popup.hidden {
  top: 100500px;
}
.time {
  display: block;
  margin-left: 16px;
  color: #666;
}
